* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: "Roboto", "Arial", "sans-serif";
} 
p {
  margin: 0;
}
/* section1 */
.section1-account {
  width: 100%;
  padding: 80px;
}
.account1 {
  font-size: 45px;
  color: #222;
  margin-bottom: 80px;
}
.account2 {
  background-color: #ffdbdb;
  border-radius: 5px;
  padding: 50px 0;
}
.bek-col-md-6 {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.user-name1 {
  font-size: 15px;
  line-height: 20px;
  color: #666;
}
.user-name2 {
  width: 350px;
  height: 50px;
  position: relative;
  font-size: 17px;
  line-height: 20px;
  color: #ff2b2b;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 20px 0 30px 0;
  background: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0 0 10px #ffc6c6;
}
.user-name3 {
  font-size: 20px;
  line-height: 25px;
  color: #444;
}
.user-img1 {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 10px #ffc6c6;
  margin: 20px 0;
  background-color: #fff;
}
.user-img1 img {
  max-height: 100%;
  max-width: 100%;
  display: block;
}